<nav>
  <div class="site-title">
    <a href="/"><h1>Hazem Ahmed</h1></a>
    <p>Task 1</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/API">API</a></li>
  </ul>
</nav>