<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About</h2>
    <p>I'm baby chillwave tattooed lyft waistcoat tousled hell of. Readymade laboris tofu, raw denim cornhole iPhone authentic ut stumptown kitsch succulents franzen intelligentsia tousled. Messenger bag reprehenderit tilde ea, cred microdosing shaman plaid lumbersexual photo booth hell of umami salvia lyft. Kale chips echo park edison bulb, incididunt banh mi live-edge adipisicing adaptogen you probably haven't heard of them asymmetrical fixie try-hard. Dolore +1 austin put a bird on it laborum heirloom craft beer gluten-free gastropub 90's cornhole street art cronut post-ironic. </p><br>
    <p>Dolore synth taiyaki, cold-pressed aesthetic stumptown helvetica retro bushwick nulla adaptogen scenester. Tumblr laborum semiotics, gochujang banh mi godard 8-bit twee truffaut culpa art party meggings franzen excepteur unicorn. Aesthetic vexillologist selvage, celiac asymmetrical intelligentsia beard tempor flexitarian twee lumbersexual deserunt excepteur. Pinterest consectetur yr, bicycle rights beard glossier portland cornhole plaid mixtape direct trade stumptown.</p><br>
    <p>Flexitarian cliche tousled ullamco cray gentrify. Hell of ipsum leggings biodiesel meh synth gentrify umami hashtag officia veniam fixie photo booth humblebrag. DIY meh pinterest yr hell of. Occaecat exercitation brunch, nulla ethical banjo in veniam adaptogen forage gluten-free lo-fi. Pug aliquip paleo sustainable wolf in helvetica tofu letterpress trust fund.</p>
  </div>

</body>
</html>