<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>API</h2>
    <p>Current weather in london is <%= currw%> </p>
  </div>

</body>
</html>